@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Portal Principal</h1>
<!--Enlace Area Ventas-->
@Html.ActionLink("Ventas", "Index", new { area = "Ventas", controller = "Home" }, new { @class = "btn btn-primary text-light" })

<!--Enlace Area Contabilidad-->
@Html.ActionLink("Contabilidad", "Index", new { area = "Contabilidad", controller = "Home" }, new { @class = "btn btn-success text-light" })

<!--Enlace Area Logistica-->
@Html.ActionLink("Logistica", "Index", new { area = "Logistica", controller = "Home" }, new { @class = "btn btn-danger text-light" })
